.content-container:not(.content-container .content-container) {
    @apply mx-auto px-8 max-w-wrapper;
}

.content-container-xl:not(.content-container-xl .content-container) {
    @apply mx-auto px-8 max-w-wrapper-xl;
}

.content-container-p-tablet:not(.content-container-p-tablet .content-container-p-tablet) {
    @apply mx-auto md:px-8 max-w-wrapper;
}

.swiper-container {
  --swiper-navigation-top-offset: 98%;
  --swiper-pagination-color: var(--color-primary-950);
  --swiper-navigation-color: var(--color-primary-950);
  --swiper-pagination-bullet-inactive-color: var(--color-primary-500);
}
