---
import { Image } from 'astro:assets';
import aboutImage from '../assets/about-me-image.png';
import Layout from '../layouts/Layout.astro';
---

<Layout
  description="Mein Name ist Alex Herr, gelernter Schreiner und studierter Innenarchitekt aus Bonn."
  title="About · AH Design Studio"
  bgColor="bg-theme-surface-green dark:bg-theme-surface-green-dark"
>
  <section class="content-container-p-tablet">
    <h1 class="font-archivo text-5xl sm:text-7xl lg:text-9xl font-bold tracking-widest leading-none my-30 max-md:text-center">Über mich</h1>
    <div class="grid md:grid-cols-2 lg:grid-cols-12 gap-4 mb-20 lg:mb-30">
      <div class="order-2 md:order-1 max-md:px-8 space-y-10 lg:space-y-16 text-balance text-2xl lg:col-span-5 lg:flex lg:flex-col lg:justify-end">
        <h2 class="font-bold tracking-widest uppercase leading-none max-lg:mt-12">
          Alex Herr
        </h2>
        <p class="tracking-wide leading-relaxed">
          Mein Name ist <strong class="font-extrabold">Alex Herr</strong>, geboren am 01.12.1990
          in Bonn. Ich bin gelernter Schreiner und studierter Innenarchitekt.
        </p>
        <p class="tracking-wide leading-relaxed text-primary-950 dark:text-primary-200">
          Meine Leidenschaft für Innenarchitektur liegt in der Kombination aus Design,
          Funktionalität und Ästhetik. Es fasziniert mich, wie gut durchdachte Räume das
          Wohlbefinden der Menschen beeinflussen und kreativ sowie technisch präzise gestaltet
          werden können.
        </p>
      </div>
      <div class="flex flex-col order-1 md:order-2 lg:col-start-7 lg:col-span-6">
        <Image
          src={aboutImage}
          alt="Alex Herr – Innenarchitekt"
          loading="eager"
          class="w-full h-full object-cover object-top"
        />
      </div>
    </div>
  </section>
</Layout>
