---
import GSAPReveal from '../ui/GSAPReveal.astro';
---

<section class="py-16 sm:py-20">
  <div class="content-container flex flex-col items-center gap-8 sm:gap-10">
    <h2 class="text-3xl font-medium tracking-tight sm:text-4xl mb-4 lg:mb-8">Über uns</h2>
    <GSAPReveal>
      <div class="lg:grid lg:grid-cols-6">
        <p class="text-primary-950/70 dark:text-primary-200/70 text-base text-balance text-center sm:text-lg col-start-2 col-span-4">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis
          suscipit eaque, iste dolor cupiditate blanditiis ratione. Lorem ipsum, dolor sit amet
          consectetur adipisicing elit. Maiores impedit perferendis suscipit eaque, iste dolor
          cupiditate blanditiis ratione. Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Maiores impedit perferendis suscipit eaque, iste dolor cupiditate blanditiis ratione.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis
            suscipit eaque, iste dolor cupiditate.
          </p>
      </div>
    </GSAPReveal>
    <GSAPReveal>
      <a
        href="/about"
        class="bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
      >
        Read about us
      </a>
    </GSAPReveal>
  </div>
</section>
